            <!-- ### about
            ================================================== -->
            <section id="about" class="s-about target-section">


                <div class="row about-info wide" data-animate-block>

                    <div class="column lg-6 md-12 about-info__pic-block" style="text-align: center;">
                        <img src="../assets/images/abt.jpg" style="filter: grayscale(80%);width: 77%;"
                             srcset="../assets/images/abt.jpg 1x, ../assets/images/abt.jpg 2x" alt="" class="about-info__pic" data-animate-el>
                    </div>

                    <div class="column lg-6 md-12">
                        <div class="about-info__text" >

                            <h2 class="text-pretitle with-line" data-animate-el>
                                About
                            </h2>
                            <p class="attention-getter" data-animate-el>
                              As a seasoned full-stack developer with a Master's degree, I possess a strong foundation in software development and a passion for problem-solving. I excel in both front-end and back-end development, creating intuitive interfaces and robust architectures. With a keen interest in AI, I'm dedicated to exploring its potential for positive change. My goal is to leverage my skills to develop innovative and meaningful solutions that have a lasting impact.
                            </p>
                            <a href="https://drive.google.com/file/d/1DEjbclCdOncI3sx_U8A-X615NIzFRlrG/view?usp=sharing" target="_blank" class="btn btn--medium u-fullwidth" data-animate-el>Download CV</a>

                        </div>
                    </div>
                </div> <!-- about-info -->


                <div class="row about-expertise" data-animate-block>
                    <div class="column lg-12">

                        <h2 class="text-pretitle" data-animate-el>Expertise</h2>

                        <ul class="skills-list h1" data-animate-el>
                            <li>Font-end Development</li>
                            <li> Back-end Development</li>
                            <li> Cloud & Databases</li>
                            <li> Design & Architecture</li>
                            <li> API development</li>
                            <li> Version Control</li>                            
                        </ul>

                    </div>
                </div> <!-- end about-expertise -->


                <div class="row about-timelines" data-animate-block>

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Experience
                        </h2>

                        <div class="timeline" data-animate-el>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">CitiusTech</h4>
                                    <h5 class="timeline__meta">Technical Lead - I</h5>
                                    <p class="timeline__timeframe">April 2024 - Present</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>As a Software Developer at Citius since April 2024, I develop a healthcare workforce management system using Angular 17, .NET Core Web API, and SQL Server. I create responsive UIs with Kendo UI and Bootstrap while following Scrum practices to deliver scalable solutions in collaboration with Canadian clients</p>
                                </div>
                            </div>
    
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">Accenture</h4>
                                    <h5 class="timeline__meta">Application Development Analyst</h5>
                                    <p class="timeline__timeframe">October 2021 - April 2024</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>Developed a responsive frontend using Angular, HTML, CSS, and JS, optimized performance with reusable components, and built secure .NET Core APIs with PII encryption. Integrated Azure services for scalability and collaborated with cross-functional teams to ensure successful project delivery.</p>
                                </div>
                            </div>

                            <div class="timeline__block">
                              <div class="timeline__bullet"></div>
                              <div class="timeline__header">
                                  <h4 class="timeline__title">Smart Sight Innovations</h4>
                                  <h5 class="timeline__meta">Sr. Software Engineer</h5>
                                  <p class="timeline__timeframe">October 2018 - October 2021</p>
                              </div>
                              <div class="timeline__desc">
                                  <p>Enhanced user experience with HTML, CSS, JavaScript, jQuery, and Ajax, implementing lazy loading for faster page loads and HI Charts for data visualization. Built a robust backend using .NET MVC, Entity Framework, and LINQ, optimizing data retrieval with Windows Services. Integrated Twilio API for automated messaging and AWS S3 for cost-effective, scalable storage. Developed dynamic reports in PDF, XLSX, and CSV for versatile data representation.</p>
                              </div>
                          </div>
    
                        </div> <!-- end timeline -->

                    </div> <!-- end column -->

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Education
                        </h2>

                        <div class="timeline" data-animate-el>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">University of Mumbai</h4>
                                    <h5 class="timeline__meta">Master of Computer Application(MCA)</h5>
                                    <p class="timeline__timeframe">Jul 2018</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>Completed a 3-year MCA program at Mumbai University, focusing on Object-Oriented Programming, Data Structures, Operating Systems, and Database Management. Gained expertise in Java, .NET, Web Technologies, and Cloud Computing, with hands-on experience in APIs and modern frameworks. Worked on Mini and Major Projects, improving analytical and problem-solving skills</p>
                                </div>
                            </div>

                            <div class="timeline__block">
                              <div class="timeline__bullet"></div>
                              <div class="timeline__header">
                                  <h4 class="timeline__title">University of Mumbai</h4>
                                  <h5 class="timeline__meta">Bachlor of Science - Computer Science</h5>
                                  <p class="timeline__timeframe">Jun 2015</p>
                              </div>
                              <div class="timeline__desc">
                                  <p>Completed a 3-year B.Sc. in Computer Science, building a strong foundation in C, C++, Java, .NET, and Web Services, along with SQL and MS Access for database management. Gained hands-on experience in Computer Graphics, Advanced Java, and .NET through practical labs and projects. Strengthened problem-solving and software development skills through real-world applications and programming exercises.</p>
                              </div>
                          </div>
    
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">S. P. K. College, Sawantwadi</h4>
                                    <h5 class="timeline__meta"> Higher Secondary Certificate(HSC)</h5>
                                    <p class="timeline__timeframe">May 2012</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>Completed HSC from Maharashtra State Board, with a focus on Mathematics, Statistics, Physics, Chemistry, Biology, and Information Technology, studied in English medium. This diverse coursework laid the foundation for analytical and technical skills in various domains.</p>
                                </div>
                            </div>
    
                        </div> <!-- end timeline -->
                        
                    </div> <!-- end column -->


                </div> <!-- end about-timelines -->

            </section> <!-- end s-about -->