            <!-- ### intro
            ================================================== -->
            <section id="intro" class="s-intro target-section">

                <div class="row intro-content wide">

                    <div class="column">
                        <div class="text-pretitle with-line">
                            My Introduction
                        </div>

                        <h1 class="text-huge-title">
                            I am Sumit, <br>
                            an experienced <br>
                            full-stack <br> 
                            developer based <br>
                            in India.
                        </h1>
                    </div>

                    <ul class="intro-social">
                        <li><a href="#0">Behance</a></li>
                        <li><a href="https://x.com/sumits_tweets">Twitter</a></li>
                        <li><a href="https://www.linkedin.com/in/sumit-sorate/">LinkedIn</a></li>
                        <li><a href="https://www.instagram.com/sumits.26/">Instagram</a></li>
                    </ul>

                </div> <!-- end intro content -->

                <a href="#about" class="intro-scrolldown smoothscroll">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z"/></svg>
                </a>

            </section> <!-- end s-intro -->