
    <!-- # preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- # page wrap
    ================================================== -->
    <div class="s-pagewrap">

        <div class="circles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


        <!-- ## site header 
        ================================================== -->
        <header class="s-header">

            <div class="header-mobile">
                <span class="mobile-home-link"><a href="index.html">Sumit.</a></span>
                <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
            </div>

            <div class="row wide main-nav-wrap">
                <nav class="column lg-12 main-nav">
                    <ul>
                        <li><a href="index.html" class="home-link">Sumit s.</a></li>
                        <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
                        <li><a href="#about" class="smoothscroll">About</a></li>
                        <li><a href="#works" class="smoothscroll">Works</a></li>
                        <li><a href="#contact" class="smoothscroll">Say Hello</a></li>
                    </ul>
                </nav>
            </div>

        </header> <!-- end s-header -->


        <!-- ## main content
        ==================================================- -->
        <main class="s-content" id="top">


            <!-- ### intro
            ================================================== -->
            <section id="intro" class="s-intro target-section">

                <div class="row intro-content wide">

                    <div class="column">
                        <div class="text-pretitle with-line">
                            My Introduction
                        </div>

                        <h1 class="text-huge-title">
                            I am Sumit, <br>
                            an experienced <br>
                            full-stack <br> 
                            developer based <br>
                            in India.
                        </h1>
                    </div>

                    <ul class="intro-social">
                        <li><a href="#0">Behance</a></li>
                        <li><a href="https://x.com/sumits_tweets">Twitter</a></li>
                        <li><a href="https://www.linkedin.com/in/sumit-sorate/">LinkedIn</a></li>
                        <li><a href="https://www.instagram.com/sumits.26/">Instagram</a></li>
                    </ul>

                </div> <!-- end intro content -->

                <a href="#about" class="intro-scrolldown smoothscroll">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z"/></svg>
                </a>

            </section> <!-- end s-intro -->


            <!-- ### about
            ================================================== -->
            <section id="about" class="s-about target-section">


                <div class="row about-info wide" data-animate-block>

                    <div class="column lg-6 md-12 about-info__pic-block" style="text-align: center;">
                        <img src="../assets/images/about-photo.png" style="filter: grayscale(80%);-webkit-transform: scaleX(-1);transform: scaleX(-1);width: 77%;"
                             srcset="../assets/images/about-photo.png 1x, ../assets/images/about-photo@2x.png 2x" alt="" class="about-info__pic" data-animate-el>
                    </div>

                    <div class="column lg-6 md-12">
                        <div class="about-info__text" >

                            <h2 class="text-pretitle with-line" data-animate-el>
                                About
                            </h2>
                            <p class="attention-getter" data-animate-el>
                              As a seasoned full-stack developer with a Master's degree, I possess a strong foundation in software development and a passion for problem-solving. I excel in both front-end and back-end development, creating intuitive interfaces and robust architectures. With a keen interest in AI, I'm dedicated to exploring its potential for positive change. My goal is to leverage my skills to develop innovative and meaningful solutions that have a lasting impact.
                            </p>
                            <a href="https://drive.google.com/file/d/1KQAITX5el2-7vg1HQUowiVWG2hLB4UcG/view?usp=sharing" target="_blank" class="btn btn--medium u-fullwidth" data-animate-el>Download CV</a>

                        </div>
                    </div>
                </div> <!-- about-info -->


                <div class="row about-expertise" data-animate-block>
                    <div class="column lg-12">

                        <h2 class="text-pretitle" data-animate-el>Expertise</h2>

                        <ul class="skills-list h1" data-animate-el>
                            <li>Font-end Development</li>
                            <li> Back-end Development</li>
                            <li> Cloud & Databases</li>
                            <li> Design & Architecture</li>
                            <li> API development</li>
                            <li> Version Control</li>                            
                        </ul>

                    </div>
                </div> <!-- end about-expertise -->


                <div class="row about-timelines" data-animate-block>

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Experience
                        </h2>

                        <div class="timeline" data-animate-el>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">CitiusTech</h4>
                                    <h5 class="timeline__meta">Technical Lead - I</h5>
                                    <p class="timeline__timeframe">April 2024 - Present</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>As a Software Developer at Citius since April 2024, I develop a healthcare workforce management system using Angular 17, .NET Core Web API, and SQL Server. I create responsive UIs with Kendo UI and Bootstrap while following Scrum practices to deliver scalable solutions in collaboration with Canadian clients</p>
                                </div>
                            </div>
    
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">Accenture</h4>
                                    <h5 class="timeline__meta">Application Development Analyst</h5>
                                    <p class="timeline__timeframe">October 2021 - April 2024</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>Developed a responsive frontend using Angular, HTML, CSS, and JS, optimized performance with reusable components, and built secure .NET Core APIs with PII encryption. Integrated Azure services for scalability and collaborated with cross-functional teams to ensure successful project delivery.</p>
                                </div>
                            </div>

                            <div class="timeline__block">
                              <div class="timeline__bullet"></div>
                              <div class="timeline__header">
                                  <h4 class="timeline__title">Smart Sight Innovations</h4>
                                  <h5 class="timeline__meta">Sr. Software Engineer</h5>
                                  <p class="timeline__timeframe">October 2018 - October 2021</p>
                              </div>
                              <div class="timeline__desc">
                                  <p>Enhanced user experience with HTML, CSS, JavaScript, jQuery, and Ajax, implementing lazy loading for faster page loads and HI Charts for data visualization. Built a robust backend using .NET MVC, Entity Framework, and LINQ, optimizing data retrieval with Windows Services. Integrated Twilio API for automated messaging and AWS S3 for cost-effective, scalable storage. Developed dynamic reports in PDF, XLSX, and CSV for versatile data representation.</p>
                              </div>
                          </div>
    
                        </div> <!-- end timeline -->

                    </div> <!-- end column -->

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Education
                        </h2>

                        <div class="timeline" data-animate-el>

                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">University of Mumbai</h4>
                                    <h5 class="timeline__meta">Master of Computer Application(MCA)</h5>
                                    <p class="timeline__timeframe">Jul 2018</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>Completed a 3-year MCA program at Mumbai University, focusing on Object-Oriented Programming, Data Structures, Operating Systems, and Database Management. Gained expertise in Java, .NET, Web Technologies, and Cloud Computing, with hands-on experience in APIs and modern frameworks. Worked on Mini and Major Projects, improving analytical and problem-solving skills</p>
                                </div>
                            </div>

                            <div class="timeline__block">
                              <div class="timeline__bullet"></div>
                              <div class="timeline__header">
                                  <h4 class="timeline__title">University of Mumbai</h4>
                                  <h5 class="timeline__meta">Bachlor of Science - Computer Science</h5>
                                  <p class="timeline__timeframe">Jun 2015</p>
                              </div>
                              <div class="timeline__desc">
                                  <p>Completed a 3-year B.Sc. in Computer Science, building a strong foundation in C, C++, Java, .NET, and Web Services, along with SQL and MS Access for database management. Gained hands-on experience in Computer Graphics, Advanced Java, and .NET through practical labs and projects. Strengthened problem-solving and software development skills through real-world applications and programming exercises.</p>
                              </div>
                          </div>
    
                            <div class="timeline__block">
                                <div class="timeline__bullet"></div>
                                <div class="timeline__header">
                                    <h4 class="timeline__title">S. P. K. College, Sawantwadi</h4>
                                    <h5 class="timeline__meta"> Higher Secondary Certificate(HSC)</h5>
                                    <p class="timeline__timeframe">May 2012</p>
                                </div>
                                <div class="timeline__desc">
                                    <p>Completed HSC from Maharashtra State Board, with a focus on Mathematics, Statistics, Physics, Chemistry, Biology, and Information Technology, studied in English medium. This diverse coursework laid the foundation for analytical and technical skills in various domains.</p>
                                </div>
                            </div>
    
                        </div> <!-- end timeline -->
                        
                    </div> <!-- end column -->


                </div> <!-- end about-timelines -->

            </section> <!-- end s-about -->


            <!-- ### works
            ================================================== -->
            <section id="works" class="s-works target-section">


                <div class="row works-portfolio">

                    <div class="column lg-12" data-animate-block>

                        <h2 class="text-pretitle" data-animate-el>
                            Recent Works
                        </h2>
                        <p class="h1" data-animate-el>
                            Here are some of my favorite projects I have done lately. Feel free to check them out.
                        </p>
    
                        <ul class="folio-list row block-lg-one-half block-stack-on-1000">

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-01">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/portfolio.png"
                                             srcset="../assets/images/portfolio/portfolio.png 1x, ../assets/images/portfolio/portfolio@2x.png 2x"  alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Website(SPA)
                                        </div>
                                        <div class="folio-list__item-title">
                                            Portfolio.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-02">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/todo.png" 
                                             srcset="../assets/images/portfolio/todo.png 1x, ../assets/images/portfolio/todo@2x.png 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Mobile App
                                        </div>
                                        <div class="folio-list__item-title">
                                            Todo App.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-03">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/st.png" 
                                             srcset="../assets/images/portfolio/st.png 1x, ../assets/images/portfolio/st@2x.png 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Web Application
                                        </div>
                                        <div class="folio-list__item-title">
                                            Solution Tablet.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-05">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/cover_image.png" 
                                             srcset="../assets/images/portfolio/cover_image.png 1x, ../assets/images/portfolio/cover_image@2x.png 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Blog
                                        </div>
                                        <div class="folio-list__item-title">
                                            AI Revolutionization.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-04">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/construction.png"
                                             srcset="../assets/images/portfolio/construction.png 1x, ../assets/images/portfolio/construction@2x.png 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Web Application
                                        </div>
                                        <div class="folio-list__item-title">
                                            Construction Service.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->                            

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-06">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/funeral.png" 
                                             srcset="../assets/images/portfolio/funeral.png 1x, ../assets/images/portfolio/funeral@2x.png 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Cloud Service
                                        </div>
                                        <div class="folio-list__item-title">
                                            Funeral Home & Crematory.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                        </ul> <!-- end folio-list -->

                    </div> <!-- end column -->


                    <!-- Modal Templates Popup
                    -------------------------------------------- -->
                    <div id="modal-01" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/portfolio.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Portfolio</h5>
                                <p>This portfolio website showcases my skills and case studies, emphasizing my unique selling points and mapping the client journey. It targets potential clients and employers, offering insights into my solutions and expertise to build strong professional connections.</p>
                                <ul class="modal-popup__cat">
                                    <li>Angular</li>
                                    <li>Github</li>
                                </ul>
                            </div>
                
                            <a href="https://sumitsorate.site/" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-02" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/portfolioold.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Todo App</h5>
                                <p>This is mobile application for tracking day to day tasks</p>
                                <ul class="modal-popup__cat">
                                    <li>Angular</li>
                                    <li>.Net</li>
                                </ul>
                            </div>
                
                            <a href="#" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-03" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/st.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Solution Tablet</h5>
                                <p>This project showcases our problem-solving skills through real-world case studies, highlighting our unique selling points and mapping the client journey. It includes a global directory of experts, targeting MDs, business leaders, and clients, providing insights into our solutions and expertise, and fostering strong client relationships.</p>
                                <ul class="modal-popup__cat">
                                    <li>Angular</li>
                                    <li>C#</li>
                                    <li>.NET 8</li>
                                    <li>Linq</li>
                                    <li>ADO.NET</li>
                                    <li>Azure Services</li>
                                </ul>
                            </div>
                
                            <a href="#" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-04" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/construction.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Construction Service</h5>
                                <p>This application simplifies payroll management for construction companies by allowing them to upload and track daily working hours, calculate total time and pay, and view data daily or weekly. It features a dashboard with filters for companies, durations, and employees, ensuring efficient payroll management and insightful data analysis.</p>
                                <ul class="modal-popup__cat">
                                    <li>Jquery</li>
                                    <li>C#</li>
                                    <li>.NET 6</li>
                                    <li>MVC EF</li>
                                    <li>Linq</li>
                                    <li>Sql Server</li>
                                    <li>AWS S3</li>
                                </ul>
                            </div>
                
                            <a href="#" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-05" hidden>
                        <div class="modal-popup">

                            <img src="../assets/images/portfolio/cover_image.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>How AI is Revolutionizing Frontend Development in 2025</h5>
                                <p>This is a modern tech blog where cutting-edge development meets clarity. Written by Sumit, a passionate software developer, this blog explores the latest trends in frontend frameworks, AI in web development, coding best practices, and real-world dev tools. Whether you're a beginner or an experienced coder, SumitCodes offers practical insights, tutorials, and thought pieces tailored for modern developers.</p>
                                <ul class="modal-popup__cat">
                                    <li> Focus on Angular, .NET Core, and modern frontend tools</li>
                                    <li> Special interest in AI-assisted development and automation</li>
                                    <li> Blog posts that blend hands-on code with conceptual clarity</li>
                                    <li> Target readers: developers, tech enthusiasts, and learners</li>
                                </ul>
                            </div>
                
                            <a href="https://sumitcodes.hashnode.dev/how-ai-is-revolutionizing-frontend-development-in-2025" target="_blank" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-06" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/funeral.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Funeral Home & Crematory</h5>
                                <p>This application streamlines feedback and communication for funeral clients via survey emails and texts, with responses sent to admins. Admins can reply directly, ensuring a personal connection. Communications are monitored, and client consent is prioritized. Managed with Twilio API for seamless interactions.</p>
                                <ul class="modal-popup__cat">
                                    <li>C#</li>
                                    <li>.NET 6</li>
                                    <li>MVC</li>
                                    <li>Twilio Api</li>
                                </ul>
                            </div>
                
                            <a href="#" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                </div> <!-- end works-portfolio -->

            </section> <!-- end s-works -->


            <!-- ### contact
            ================================================== -->
            <section id="contact" class="s-contact target-section">

                <div class="row contact-top">
                    <div class="column lg-12">
                        <h2 class="text-pretitle">
                            Get In Touch
                        </h2>

                        <p class="h1">
                            I love to hear from you.
                            Whether you have a question or just 
                            want to chat about design, tech & art — shoot me a message.
                        </p>
                    </div>
                </div> <!-- end contact-top -->

                <div class="row contact-bottom">
                    <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Reach me at</h3>
                        <p class="contact-links">
                            <a href="mailto:sumitsorate01@gmail.com" class="mailtoui">sumitsorate01&#64;gmail.com</a> <br>
                            <a href="tel:+1975432345">+91 750 795 0962</a>
                        </p>
                    </div>
                    <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
                        <h3 class="text-pretitle">Social</h3>
                        <ul class="contact-social">
                            <li><a href="https://www.linkedin.com/in/sumit-sorate/">Linkedin</a></li>
                            <li><a href="https://x.com/sumits_tweets">Twitter</a></li>
                            <li><a href="https://www.instagram.com/sumits.26/">Instagram</a></li>
                            <li><a href="https://github.com/sumitsorate">Github</a></li>
                        </ul>
                    </div>
                    <div class="column lg-4 md-12 contact-block">
                        <a href="mailto:sumitsorate01@gmail.com" class="mailtoui btn btn--medium u-fullwidth contact-btn">Say Hello.</a>
                    </div>
                </div> <!-- end contact-bottom -->

            </section> <!-- end contact -->

        </main> <!-- end s-content -->


        <!-- ## footer
        ================================================== -->
        <footer class="s-footer">

            <div class="row">
                <div class="column ss-copyright">
                    <span>© COPYRIGHT 2025</span> 
                    <span>&nbsp;MADE WITH ❤️ IN INDIA</span>
                </div>

                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"/></svg>
                    </a>
                </div>
            </div>

        </footer> <!-- end s-footer -->

    </div> <!-- end -s-pagewrap -->

