            <!-- ### works
            ================================================== -->
            <section id="works" class="s-works target-section">


                <div class="row works-portfolio">

                    <div class="column lg-12" data-animate-block>

                        <h2 class="text-pretitle" data-animate-el>
                            Recent Works
                        </h2>
                        <p class="h1" data-animate-el>
                            Here are some of my favorite projects I have done lately. Feel free to check them out.
                        </p>
    
                        <ul class="folio-list row block-lg-one-half block-stack-on-1000">

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-0">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/mm.png"
                                             srcset="../assets/images/portfolio/mm.png 1x, ../assets/images/portfolio/mm.png 2x"  alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Agentic AI Bot
                                        </div>
                                        <div class="folio-list__item-title">
                                            Medimate (Health Assistant).
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-01">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/portfolio.png" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Website(SPA)
                                        </div>
                                        <div class="folio-list__item-title">
                                            Portfolio.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->                            

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-03">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/st.png" 
                                             srcset="../assets/images/portfolio/st.png 1x, ../assets/images/portfolio/st@2x.png 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Web Application
                                        </div>
                                        <div class="folio-list__item-title">
                                            Solution Tablet.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-05">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/blog.png" 
                                             srcset="../assets/images/portfolio/blog.png 1x, ../assets/images/portfolio/blog@2x.png 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Blog
                                        </div>
                                        <div class="folio-list__item-title">
                                            AI Revolutionization.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-04">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/construction.png"
                                             srcset="../assets/images/portfolio/construction.png 1x, ../assets/images/portfolio/construction@2x.png 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Web Application
                                        </div>
                                        <div class="folio-list__item-title">
                                            Construction Service.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->                            

                            <li class="folio-list__item column" data-animate-el>
                                <a class="folio-list__item-link" href="#modal-06">
                                    <div class="folio-list__item-pic">
                                        <img src="../assets/images/portfolio/funeral.png" 
                                             srcset="../assets/images/portfolio/funeral.png 1x, ../assets/images/portfolio/funeral@2x.png 2x" alt="">
                                    </div>
                                    
                                    <div class="folio-list__item-text">
                                        <div class="folio-list__item-cat">
                                            Cloud Service
                                        </div>
                                        <div class="folio-list__item-title">
                                            Funeral Home & Crematory.
                                        </div>
                                    </div>
                                </a>
                                <a class="folio-list__proj-link" href="#" title="project link">
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                                </a>
                            </li> <!--end folio-list__item -->

                        </ul> <!-- end folio-list -->

                    </div> <!-- end column -->


                    <!-- Modal Templates Popup
                    -------------------------------------------- -->
                     <div id="modal-0" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/mm@2x.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Medimate Healthcare Assistant</h5>
                                <p>This is an advanced, agentic AI powered Appointment Assistant chatbot designed to intelligently manage the entire appointment lifecycle end-to-end — it can View upcoming appointments, Book new ones instantly, Modify or Reschedule existing bookings, and perform several additional context-aware appointment related tasks automatically. It can reason, decide actions on its own, analyze user intent, validate specialty and availability, handle conflicts, ensure correct routing, and continuously assist the patient step-by-step with a smooth, highly personalized, smart appointment experience — without the user needing to manually navigate complex scheduling workflows.</p>
                                <ul class="modal-popup__cat">
                                    <li>Angular</li>
                                    <li>.Net Core</li>
                                    <li>Azure OpenAI</li>
                                </ul>
                            </div>
                
                            <a class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-01" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/portfolio@2x.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Portfolio</h5>
                                <p>This portfolio website showcases my skills and case studies, emphasizing my unique selling points and mapping the client journey. It targets potential clients and employers, offering insights into my solutions and expertise to build strong professional connections.</p>
                                <ul class="modal-popup__cat">
                                    <li>Angular</li>
                                    <li>Github</li>
                                </ul>
                            </div>
                
                            <a class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-02" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/portfolioold.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Todo App</h5>
                                <p>This is mobile application for tracking day to day tasks</p>
                                <ul class="modal-popup__cat">
                                    <li>Angular</li>
                                    <li>.Net</li>
                                </ul>
                            </div>
                
                            <a class="modal-popup__details disabled">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-03" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/st.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Solution Tablet</h5>
                                <p>This project showcases our problem-solving skills through real-world case studies, highlighting our unique selling points and mapping the client journey. It includes a global directory of experts, targeting MDs, business leaders, and clients, providing insights into our solutions and expertise, and fostering strong client relationships.</p>
                                <ul class="modal-popup__cat">
                                    <li>Angular</li>
                                    <li>C#</li>
                                    <li>.NET 8</li>
                                    <li>Linq</li>
                                    <li>ADO.NET</li>
                                    <li>Azure Services</li>
                                </ul>
                            </div>
                
                            <a class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-04" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/construction.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Construction Service</h5>
                                <p>This application simplifies payroll management for construction companies by allowing them to upload and track daily working hours, calculate total time and pay, and view data daily or weekly. It features a dashboard with filters for companies, durations, and employees, ensuring efficient payroll management and insightful data analysis.</p>
                                <ul class="modal-popup__cat">
                                    <li>Jquery</li>
                                    <li>C#</li>
                                    <li>.NET 6</li>
                                    <li>MVC EF</li>
                                    <li>Linq</li>
                                    <li>Sql Server</li>
                                    <li>AWS S3</li>
                                </ul>
                            </div>
                
                            <a class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-05" hidden>
                        <div class="modal-popup">

                            <img src="../assets/images/portfolio/gallery/blog.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>How AI is Revolutionizing Frontend Development in 2025</h5>
                                <p>This is a modern tech blog where cutting-edge development meets clarity. Written by Sumit, a passionate software developer, this blog explores the latest trends in frontend frameworks, AI in web development, coding best practices, and real-world dev tools. Whether you're a beginner or an experienced coder, SumitCodes offers practical insights, tutorials, and thought pieces tailored for modern developers.</p>
                                <ul class="modal-popup__cat">
                                    <li> Focus on Angular, .NET Core, and modern frontend tools</li>
                                    <li> Special interest in AI-assisted development and automation</li>
                                    <li> Blog posts that blend hands-on code with conceptual clarity</li>
                                    <li> Target readers: developers, tech enthusiasts, and learners</li>
                                </ul>
                            </div>
                
                            <a href="https://sumitcodes.hashnode.dev/how-ai-is-revolutionizing-frontend-development-in-2025" target="_blank" class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                    <div id="modal-06" hidden>
                        <div class="modal-popup">
                            <img src="../assets/images/portfolio/gallery/funeral.png" alt="">
                
                            <div class="modal-popup__desc">
                                <h5>Funeral Home & Crematory</h5>
                                <p>This application streamlines feedback and communication for funeral clients via survey emails and texts, with responses sent to admins. Admins can reply directly, ensuring a personal connection. Communications are monitored, and client consent is prioritized. Managed with Twilio API for seamless interactions.</p>
                                <ul class="modal-popup__cat">
                                    <li>C#</li>
                                    <li>.NET 6</li>
                                    <li>MVC</li>
                                    <li>Twilio Api</li>
                                </ul>
                            </div>
                
                            <a class="modal-popup__details">Project link</a>
                        </div>
                    </div> <!-- end modal -->

                </div> <!-- end works-portfolio -->

            </section> <!-- end s-works -->